.main-header {
    background-color:white;
    width:1000px;
    height:70px;
    border-color:#cccccc;
    border-width: 2px;
}

.myname-header {
    background-color: #4aaaa5;
    display:block;
    width:220px;
    height:71px;
    color:white;
   position:fixed;
   margin-left:300px;
   
}

h1 {
    color:white;
    margin-left:32px;
}

/* Navbar link styles */
ul {
    list-style-type: none;
    height:70px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid grey


  }
  
  li {
    float: right;

  }
  

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 28px 16px;
    color:grey;

  }
  .linkbar1 {
    width:1px;
    height:13px;
    display:block;
    margin-top:-40px;
    margin-left: 88%;
    background-color:#D8D7D7;
  }
  .linkbar2 {
    width:1px;
    height:13px;
    display:block;
    margin-top:-13px;
    margin-left:94%;
    background-color:#D8D7D7;
  }

 .aboutme-header {
     color:#4aaaa5;
     margin-bottom: 60px;
 }


 

p {
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    size:50px;
    font-size: 13pt;
   line-height:33pt;
   
   
   
}


 


header{
    background-color:white;
    width:100%;
    height:70px;
    border-color:#cccccc;
    border-width: 2px;
    margin-top:0px;
    top:0px;
    margin:0px;
    padding:0px;
    position:fixed;
    display:block;
}

.main-content-box-about {
    background-color:white;
    width:80%;
    height:60%;
    border-color:#cccccc;
    border-style: solid;
    border-width: 1px;
    margin:100px;
    margin-top:87px;
    padding:37px;
    position:fixed;
    display:block; 
}

.main-content-box-portfolio {
    background-color:white;
    width:50%;
    height:70%;
    border-color:#cccccc;
    border-style: solid;
    border-width: 1px;
    margin:100px;
    margin-top:87px;
    margin-left: 330px;
    padding:37px;
    position:fixed;
    display:block; 
}

.main-content-box-contacts {
    background-color:white;
    width:50%;
    height:65%;
    border-color:#cccccc;
    border-style: solid;
    border-width: 1px;
    margin:100px;
    margin-top:110px;
    margin-left: 330px;
    padding:37px;
    position:fixed;
    display:block; 
}


img { 
    float:left;
   
    margin-right: 40px;
    margin-bottom:13px;
    
 }
 .img1 {
    position:absolute;
    display: inline-block;
    margin-left:30px;
    margin-bottom:35px;
 }

 .img2 {
    position:absolute;
    display: inline-block;
    margin-left: 300px;
    margin-bottom:35px;
    
 }

.img3 {
    position:absolute;
    display: inline-block;
    margin-left:30px;
    margin-bottom:35px;
    margin-top:180px;
}

.img4 {
    position:absolute;
    display: inline-block;
    margin-left:300px;
    margin-bottom:35px;
    margin-top:180px;
}

.img5 {
    position:absolute;
    display: inline-block;
    margin-left:30px;
    margin-bottom:35px;
    margin-top:360px;
}

 .imgbox1 {
     
 position: relative;
 margin-top:105px;
  width: 180px;
  height:33px;
  display: block;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 30px;
background-color: #4aaaa5;

}

.imgbox2 {
    position: relative;
 margin-top: 105px;
  width: 180px;
  height:33px;
  display: block;
  color: white;
  margin-left:0px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 30px;
background-color: #4aaaa5;

}

.imgbox3 {
    position: relative;
    margin-top: 105px;
  width: 180px;
  height:33px;
  display: block;
  color: white;
  margin-left:0px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 30px;
background-color: #4aaaa5;

}


.imgbox4 {
    position: relative;
 margin-top: 105px;
  width: 180px;
  height:33px;
  display: block;
  color: white;
  margin-left:0px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 30px;
background-color: #4aaaa5;

}

.imgbox5 {
    position: relative;
 margin-top: 105px;
  width: 180px;
  height:33px;
  display: block;
  color: white;
  margin-left:0px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 30px;
background-color: #4aaaa5;

}


h4 {
    position: absolute; 
   top: -15px;  
   right:0px;
   text-align:center; 
   width: 100%; 
   font-weight:lighter;
}



html, body{
    margin:0px;
    padding:0px;
}

body{

    background-image: url(../images/intersection.png)

}
.bar {
    width:960x;
    height:3px;
    display:block;
    background-color:#D8D7D7;
    margin-top:-7px;
    margin-bottom:30px;
}

h2 {
    margin-top:-10px;
    font-size:200%;
}
h3 {
    color:#666666;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    
}

.yourname {
    width:715px;
    border-color:lightgray;
    border-width:1px;
}

.youremail {
    width:715x;
    border-color:lightgray;
    border-width:1px;
}

input {
padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
}

textarea {
 height:150px;
 width:715px;
 
border: 1px solid lightgray;
  border-radius: 1px;
  
}
input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
}

textarea[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    color:gray;
}

input[type="submit"] {
    margin-top:15px;
    background-color: #4aaaa5;
    border: 0px;
    width: 110px;
    height: 40px;
    border-radius:0px;
    color:white;
    font-size:110%;
    
}

.footer {
    border-top: 10px solid #4aaaa5;
    display:block;
    background-color:#666666;
    width:100%;
    height:45px;
    
    position: absolute;
    bottom: 0px;
}

.Copyright {
    
    font-size:80%;
    color:lightgray;
    position: absolute;
    bottom:10px;
    margin-left:48%;
}
h2 {
    color: #4aaaa5;
    font-size:200%;
}